div.navbar.navbar-fixed-top
    div.navbar-inner
      div.container-fluid
        a.brand(href='/')= config.ui.brand
        ul.nav.pull-right
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.icon-cogs.icon-2x
              b.caret
            ul.dropdown-menu
              if (isAuthenticated)
                li
                  a.profile-link(href='/account')
                    div
                      img(src='#{config.env.avatarServer}/avatar/#{user.pictureId}?s=32')
                      strong #{user.name}
                      small Edit profile
                li.divider(style='margin-top: 0;')
                li
                  a(href='/help')
                    i.icon.icon-flag
                    | &nbsp;Help
                li
                  a(href='#')
                    i.icon-question-sign
                    | &nbsp;About
                li.divider(style='margin-bottom:0')
                li
                  a(href='/logout')
                    i.icon-signout
                    | &nbsp;Logout
              else
                li
                  a(href='/login') Sign in
                li.divider
                li
                  a(href='/register') Register
        div
          ul.nav
            li.divider-vertical
            if (user)  
              li
                a(href='/timeline', title='Home')
                  span
                    i.icon-home.icon-large
                    if (!isMobile)
                      span.visible-desktop
                        | &nbsp;Home
              //- dynamic links
              each link in config.ui.header.links
                li
                  a(href='#{link.url}', title='#{link.text}')
                    span
                      if (link.icon)
                        i(class='#{link.icon}')
                      if (!isMobile)
                        span.visible-desktop
                          | &nbsp;#{link.text}
