div.navbar.navbar-default.navbar-fixed-top(role='navigation')
  div.navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
      span.sr-only Toggle Navigation
      span.fa.fa-bars
    a.navbar-brand(href='/')= collabjs.config.ui.brand

  div.collapse.navbar-collapse.navbar-ex1-collapse
    if (collabjs.isAuthenticated)
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href='', data-toggle='dropdown')
            if (collabjs.user)
              span= collabjs.user.name
            else
              i.fa.fa-cogs.fa-fw
            b.caret
          ul.dropdown-menu
            li
              a(href='/#/account')
                i.fa.fa-user.fa-fw
                | &nbsp;Edit profile
            li.divider
            li
              a(href='/help')
                i.fa.fa-flag.fa-fw
                | &nbsp;Help
            li
              a(href='/#/about')
                i.fa.fa-question-circle.fa-fw
                | &nbsp;About
            li.divider
            li
              a(href='/logout')
                i.fa.fa-sign-out.fa-fw
                | &nbsp;Logout

    ul.nav.navbar-nav
      if (collabjs.user)
        //- dynamic links
        each link in collabjs.config.ui.header.links
          li
            a(href='#{link.url}', title='#{link.text}')
              span
                if (link.icon)
                  i(class='#{link.icon}')
                | &nbsp;#{link.text}