div.navbar.navbar-default.navbar-fixed-top(role='navigation', ng-controller='MenuController')
  div.navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
      span.sr-only Toggle Navigation
      span.fa.fa-bars
    a.navbar-brand(ng-href='{{isAuthenticated ? "/#/news" : "/#/"}}')= collabjs.config.ui.brand

  div.collapse.navbar-collapse.navbar-ex1-collapse(ng-if='isAuthenticated')
    ul.nav.navbar-nav.navbar-right.ng-cloak
      li.dropdown
        a.dropdown-toggle(href='', data-toggle='dropdown')
          span {{userName}}
          b.caret
        ul.dropdown-menu
          li.settings-menu-item
            div
              img.user-avatar(ng-src='{{userPictureUrl}}')
              span.user-account {{userAccount}}
          li.divider
          li
            a(href='/#/account')
              i.fa.fa-user.fa-fw
              | &nbsp;Profile
          li
            a(href='/#/help')
              i.fa.fa-flag.fa-fw
              | &nbsp;Help
          li(ng-controller='LoginController')
            a(href='', ng-click='logout()')
              i.fa.fa-power-off.fa-fw
              | &nbsp;Logout

    ul.nav.navbar-nav.menu-actions.ng-cloak(menubar='active', data-subpaths='true')
      li
        a(href='/#/news')
          i.fa.fa-th-large.fa-lg
          span.visible-xs-i &nbsp;News
      li
        a(href='/#/mentions')
          i.fa.fa-globe.fa-lg
          span.visible-xs-i &nbsp;Mentions
      li
        a(href='/#/people')
          i.fa.fa-group.fa-lg
          span.visible-xs-i &nbsp;People
      li.dropdown
        a.dropdown-toggle(href='', data-toggle='dropdown')
          i.fa-lg #
          span.visible-xs-i &nbsp;Searches
          b.caret
        ul.dropdown-menu
          li(ng-repeat='list in searchLists')
            a(ng-href='{{list.url}}') {{list.name}}

      //- dynamic links
      each link in collabjs.config.ui.menu.links
        li
          a(href='#{link.url}', title='#{link.text}')
            span
              if (link.icon)
                i(class='fa fa-#{link.icon}')
              if (link.text)
                | &nbsp;#{link.text}