div.list-group(sidebar='active', data-subpaths='true')
  a.list-group-item(href='/#/news')
    i.fa.fa-home.fa-fw
    | &nbsp;News
  a.list-group-item(href='/#/mentions')
    i.fa.fa-globe.fa-fw
    | &nbsp;Mentions
  //- Dynamic categories
  each category in collabjs.config.ui.sidebar.categories
    each entry in category.entries
      a.list-group-item(href='#{entry.url}')
        i(class='#{entry.icon}')
        | &nbsp; #{entry.text}
  //- Saved searches
  a.list-group-item(ng-repeat='list in searchLists', ng-href='{{list.url}}')
    i.fa.fa-filter.fa-fw
    | &nbsp;{{list.name}}
  //- 'Connect' section
  a.list-group-item(href='/#/people')
    i.fa.fa-group.fa-fw
    | &nbsp;People
  //- 'Administration' section
  if (collabjs.isAdministrator && collabjs.config.ui.sidebar.administration.length > 0)
    each link in collabjs.config.ui.sidebar.administration
      a.list-group-item(href='#{link.url}')
        i(class='fa fa-#{link.icon} fa-fw')
        | &nbsp;#{link.text}
  //- 'Help' section
  a.list-group-item(href='/#/help')
    i.fa.fa-flag.fa-fw
    | &nbsp;Help