div.container
  div.row
    div.col-md-3.col-lg-3
      include account_sidebar
    div.col-md-9.col-lg-9
      div(ng-init="init('#{collabjs.token}')")
        div.page-header
          h3
            i.fa.fa-key
            | &nbsp;Change password

        div.alert.alert-danger(ng-if='error')
          button(type='button', ng-click='dismissError()').close &times;
          span {{error}}

        div.alert.alert-success(ng-if='info')
          button(type='button', ng-click='dismissInfo()').close &times;
          span {{info}}

        form.form-horizontal(role='form', ng-submit='submit()')
          input(type='hidden', name='_csrf', value=collabjs.token)
          div.form-group
            label.col-lg-2.control-label(for='pwdOld') Old password
            div.col-lg-4
              input.form-control(type='password', required, id='pwdOld', name='pwdOld', ng-model='pwdOld')
          div.form-group
            label.col-lg-2.control-label(for='pwdNew') New password
            div.col-lg-4
              input.form-control(type='password', required, id='pwdNew', name='pwdNew', ng-model='pwdNew')
          div.form-group
            label.col-lg-2.control-label(for='pwdConfirm') Confirm new password
            div.col-lg-4
              input.form-control(type='password', required, id='pwdConfirm', name='pwdConfirm', ng-model='pwdConfirm'
              data-validation-required-message='Password confirmation is required'
              data-validation-matches-match='pwdNew',
              data-validation-matches-message='Must match password entered above')
          div.form-group
            div.col-lg-offset-2.col-lg-4
              a.btn.btn-default(href='/#/account') Cancel
              input.btn.btn-primary(type='submit', value='Change password', style='margin-left:5px')

        script.
          $(function() {
            $("input").not(["type=submit"]).jqBootstrapValidation();
          });