style(type='text/css')
  img.user-profile-icon { width: 50px; height: 50px; display: block; vertical-align: top; }
  .media, .media-body { overflow: hidden; *overflow: visible; zoom: 1; }
  .media, .media .media { margin-top: 15px; }
  .media:first-child { margin-top: 0; }
  .media-object { display: block; }
  .media-heading { margin: 0 0 5px; }
  .media .pull-left { margin-right: 10px; float: left; }
  small { font-size: 85%; }
div
  div.media
    a.pull-left(href='#{profilePictureUrl}')
      img.media-object.user-profile-icon(src='#{profilePictureUrl}', alt='#{user}')
    div.media-body
      h4.media-heading
        a(href='#{timelineUrl}') #{user}
        |  commented on your 
        a(href='#{postUrl}') post
        | .
      small
        | #{user} wrote: "#{content}".