!!! 5
html
  head
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')

    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/m-styles.min.css')
    link(rel='stylesheet', href='/css/collabjs.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/collabjs-responsive.css')

    block styles

    script(src='/lib/jQuery/js/jquery.min.js')

  body
    include shared/header

    div.container
      block content
      include shared/footer

    script(src='/lib/bootstrap/js/bootstrap.min.js')
    script(src='/lib/jqBootstrapValidation/js/jqBootstrapValidation.js')
    script(src='/js/collabjs.js')

    block scripts

    // initialize request path variable if not defined
    if (typeof(requestPath) === 'undefined')
      requestPath = '';

    script.
      $(function() {
        // Synchronize sidebar/header selection with current request path
        var path = '#{requestPath}' || window.location.pathname;
        $('.nav li a[href="' + path + '"]').parents('li').addClass('active');
      });

    // assign user-related variables
    if (user && user.account && user.id)
      script.
        collabjs.avatarServer = '#{config.env.avatarServer}';
        collabjs.currentUser.id = '#{user.id}';
        collabjs.currentUser.account = '#{user.account}';
        collabjs.currentUser.pictureId = '#{user.emailHash}';