!!! 5
html
  head
    title= title

    include shared/_meta
    include shared/_styles

    block styles

    script(src='/lib/jquery/js/jquery.min.js')

  body
    input(type='hidden', id='csrf_token', value=collabjs.token)
    include shared/header

    div.container
      div.row
        if (collabjs.isAuthenticated)
          div.col-md-3.col-lg-3
            //- SIDEBAR
            block sidebar
              div.list-group
                a.list-group-item(href='/timeline')
                  i.icon-home
                  | &nbsp;Home
                a.list-group-item(href='/mentions')
                  i.icon-globe
                  | &nbsp;Mentions
                block sidebar-main
                //- Dynamic categories
                each category in collabjs.config.ui.sidebar.categories
                  each entry in category.entries
                    a.list-group-item(href='#{entry.url}')
                      i(class='#{entry.icon}')
                      | &nbsp; #{entry.text}
                //-Search Lists
                if (savedSearches && savedSearches.length > 0)
                  block sidebar-search
                  each list in savedSearches
                    a.list-group-item(href='/search?q=#{list.query}&src=#{list.source}')
                      i.icon-filter
                      | &nbsp;#{list.name}
                //- 'Connect' section
                a.list-group-item(href='/people')
                  i.icon-group
                  | &nbsp;People
                block sidebar-connect
                //- 'Administration' section
                if (collabjs.isAdministrator && collabjs.config.ui.sidebar.administration.length > 0)
                  each link in collabjs.config.ui.sidebar.administration
                    a.list-group-item(href='#{link.url}')
                      i(class='#{link.icon}')
                      | &nbsp;#{link.text}
                //- 'Help' section
                a.list-group-item(href='/help')
                  i.icon-flag
                  | &nbsp;Help
          div.col-md-9.col-lg-9
            //- MAIN CONTENT
            block content
        else
          div.col-md-12.col-lg-12
            //- MAIN CONTENT
            block content
      include shared/footer

    include shared/_scripts
    block scripts