extends layout-plain

block content
  include shared/tb-mixins
  div.page-header
    h1= title
    small
      | Please enter your user name and password.&nbsp;
      a(href='/register') Register
      | &nbsp;if you don't have an account.
  mixin showError(message)
  p= message.error

  form.form-horizontal(method='post', action=formAction, role='form')
    input(type='hidden', name='_csrf', value=collabjs.token)
    div.form-group
      label(for='username').col-lg-2.control-label Account
      div.col-lg-4.input-group
        span.input-group-addon @
        input.form-control(type='text', id='username', name='username', required, placeholder='e.g. johndoe', value='#{account}')
    div.form-group
      label(for='password').col-lg-2.control-label Password
      div.col-lg-4.input-group
        span.input-group-addon
          i.icon-key
        input.form-control(type='password', id='password', name='password', required, placeholder='type password')
    div.form-group
      div.col-lg-offset-2.col-lg-4
        input.btn.btn-success(type='submit', value='Sign In')
