extends layout-plain

block content
  include shared/tb-mixins
  h2= title
  mixin showError(message)
  p= message.error
  p
    | Please enter your user name and password. 
    a(href='/register') Register
    |  if you don't have an account.
  form.form-horizontal(method='post', action=formAction)
    input(type='hidden', name='_csrf', value=collabjs.token)
    fieldset
      legend Account Information
      div.control-group
        div.control-label
          label(for='username') Account
        div.controls
          div.input-prepend
            span.add-on @
            input(type='text', id='username', name='username', required, placeholder='e.g. johndoe', value='#{account}')
      div.control-group
        div.control-label
          label(for='password') Password
        div.controls
          div.input-prepend
            span.add-on
              i.icon-key
            input(type='password', id='password', name='password', required, placeholder='type password')
      hr
      div.form-actions
        input.m-btn.blue(type='submit', value='Sign In')
