extends layout-account

block content
  include shared/tb-mixins
  div.page-header
    h3
      i.icon-key
      | &nbsp;#{title}

  mixin showInfo(info, true)
  mixin showError(error)

  form.form-horizontal(method='post', action='/account/password', role='form')
    input(type='hidden', name='_csrf', value=collabjs.token)
    div.form-group
      label.col-lg-2.control-label(for='pwdOld') Old password
      div.col-lg-4
        input.form-control(type='password', required, id='pwdOld', name='pwdOld')
    div.form-group
      label.col-lg-2.control-label(for='pwdNew') New password
      div.col-lg-4
        input.form-control(type='password', required, id='pwdNew', name='pwdNew')
    div.form-group
      label.col-lg-2.control-label(for='pwdConfirm') Confirm new password
      div.col-lg-4
        input.form-control(type='password', required, id='pwdConfirm', name='pwdConfirm',
        data-validation-required-message='Password confirmation is required'
        data-validation-matches-match='pwdNew',
        data-validation-matches-message='Must match password entered above')
    div.form-group
      div.col-lg-offset-2.col-lg-4
        a.btn.btn-default(href='/account') Cancel
        input.btn.btn-primary(type='submit', value='Change password', style='margin-left:5px')

block scripts
  script.
    collabjs.ui.initChangePasswordView();
