extends layout-account

block content
  include shared/tb-mixins
  h3
    i.icon-key
    | &nbsp;#{title}
  mixin showInfo(info, true)
  mixin showError(error)
  form.form-horizontal(method='post', action='/account/password')
    input(type='hidden', name='_csrf', value=collabjs.token)
    hr
    div.control-group
      div.control-label
        label(for='pwdOld') Old password
      div.controls
        input(type='password', required, id='pwdOld', name='pwdOld')
    div.control-group
      div.control-label
        label(for='pwdNew') New password
      div.controls
        input(type='password', required, id='pwdNew', name='pwdNew')
    div.control-group
      div.control-label
        label(for='pwdConfirm') Confirm new password
      div.controls
        input(type='password', required, id='pwdConfirm', name='pwdConfirm',
        data-validation-required-message='Password confirmation is required'
        data-validation-matches-match='pwdNew',
        data-validation-matches-message='Must match password entered above')
    hr
    div.form-actions
      a.btn.btn-inverse.flat(href='/account') Cancel
      input.btn.btn-primary.flat(type='submit', value='Change password')

block scripts
  script.
    collabjs.ui.initChangePasswordView();
