extends layout-plain

block content
  include shared/tb-mixins
  h2= title
  p Use the form below to create a new account.
  mixin showError(message)
  script.
    var RecaptchaOptions = {
      theme: 'clean',
      lang: 'en'
    }
  form(method='post').form-horizontal
    input(type='hidden', name='_csrf', value=token)
    fieldset
      legend Account Information
      if (config.invitation.enabled)
        div.control-group
          div.control-label
            label(for='code') Invitation code
          div.controls
            input(type='text', required, id='code', name='code', placeholder='Your invitation code', value='#{data.code}')
      div.control-group
        div.control-label
          label(for='account') Account
        div.controls
          input(type='text', required, id='account', name='account', placeholder='e.g. johndoe', value='#{data.account}')
      div.control-group
        div.control-label
          label(for='name') Name
        div.controls
          input(type='text', required, id='name', name='name', placeholder='e.g. John Doe', value='#{data.name}')
      div.control-group
        div.control-label
          label(for='email') Email
        div.controls
          input(type='email', required, id='email', name='email', placeholder='e.g. jdoe@mail.com', value='#{data.email}')
      div.control-group
        div.control-label
          label(for='password') Password
        div.controls
          input(type='password', required, id='password', name='password')
      div.control-group
        div.control-label
          label(for='password-confirm') Confirm password
        div.controls
          input(type='password', required, id='password-confirm',
            data-validation-required-message='Password confirmation is required'
            data-validation-matches-match='password',
            data-validation-matches-message='Must match password entered above')
      if (config.recaptcha.enabled)
        div.control-group
          div.controls
            != recaptcha_form
      div.form-actions(style='background-color:inherit;')
        input.m-btn.blue(type='submit', value='Submit')

block scripts
  script.
    collabjs.ui.initRegisterView();