extends layout-plain

block content
  include shared/tb-mixins
  div.page-header
    h1= title
    small Use the form below to create a new account.
  mixin showError(message)
  script.
    var RecaptchaOptions = {
      theme: 'clean',
      lang: 'en'
    }
  form.form-horizontal(method='post', role='form')
    input(type='hidden', name='_csrf', value=collabjs.token)
    if (collabjs.config.invitation.enabled)
      div.form-group
        label.col-lg-2.control-label(for='code') Invitation code
        div.col-lg-4
          input.form-control(type='text', required, id='code', name='code', placeholder='Your invitation code', value='#{data.code}')
    div.form-group
      label.col-lg-2.control-label(for='account') Account
      div.col-lg-4
        input.form-control(type='text', required, id='account', name='account', placeholder='e.g. johndoe', value='#{data.account}')
    div.form-group
      label.col-lg-2.control-label(for='name') Name
      div.col-lg-4
        input.form-control(type='text', required, id='name', name='name', placeholder='e.g. John Doe', value='#{data.name}')
    div.form-group
      label.col-lg-2.control-label(for='email') Email
      div.col-lg-4
        input.form-control(type='email', required, id='email', name='email', placeholder='e.g. jdoe@mail.com', value='#{data.email}')
        span.help-block
    div.form-group
      label.col-lg-2.control-label(for='password') Password
      div.col-lg-4
        input.form-control(type='password', required, id='password', name='password')
    div.form-group
      label.col-lg-2.control-label(for='password-confirm') Confirm password
      div.col-lg-4
        input.form-control(type='password', required, id='password-confirm',
          data-validation-required-message='Password confirmation is required'
          data-validation-matches-match='password',
          data-validation-matches-message='Must match password entered above')
        span.help-block
    if (collabjs.config.recaptcha.enabled)
      div.form-group
        div.col-lg-offset-2.col-lg-4
          != recaptcha_form
    div.form-group
      div.col-lg-offset-2.col-lg-4
        input.btn.btn-primary(type='submit', value='Register')

block scripts
  script.
    collabjs.ui.initRegisterView();