extends layout

append sidebar-search
  if (!hasSavedSearch('' + search_q))
    li.active
      a(href='#{navigationUri}')
        i.icon-search
        | &nbsp;#{search_q}

block content
  include shared/ko-timeline
  h3
    i.icon-search
    | &nbsp;#{title}

  if (!hasSavedSearch('' + search_q))
    div(style='text-align:right')
      form(method='post')
        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='action', value='save')
        input(type='hidden', name='q', value=search_q)
        input(type='hidden', name='src', value=search_src)
        input.m-btn.green(type='submit', value='Save search')
  else
    div(style='text-align:right')
      form(method='post')
        input(type='hidden', name='_csrf', value=token)
        input(type='hidden', name='action', value='delete')
        input(type='hidden', name='q', value=search_q)
        input(type='hidden', name='src', value=search_src)
        input.m-btn.red(type='submit', value='Remove saved search')

  p.lead(style='display: none', data-bind='visible: posts().length == 0') No entries found...
  div(style='display: none;', data-bind="visible: posts().length > 0, template: { name: 'timeline-template' }")

  // Loading progress indicator
  div.page-spinner
    i.icon-spinner.icon-spin.icon-4x

  div.alert.alert-error.page-error

block scripts
  script.
    collabjs.ui.initSearchPosts('#{search_q}', '#{search_src}');