extends layout

append sidebar-main
  li.active
    a(href='/search?q=#{search_q}&src=#{search_src}')
      i.icon-search
      | &nbsp;Search

block content
  include shared/ko-timeline
  h3
    i.icon-search
    | &nbsp;#{title}
  p.lead(style='display: none', data-bind='visible: posts().length == 0') No entries found...
  div(style='display: none;', data-bind="visible: posts().length > 0, template: { name: 'timeline-template' }")

  // Loading progress indicator
  div.page-spinner
    i.icon-spinner.icon-spin.icon-4x

  div.alert.alert-error.page-error

block scripts
  script.
    initSearchPosts('#{search_q}', '#{search_src}');