extends layout

append sidebar-search
  if (!isSaved)
    a.list-group-item.active(href='#{navigationUri}')
      i.icon-search
      | &nbsp;#{search_q}

block content

  div(ng-controller='SearchController', ng-init="init('#{collabjs.token}', '#{search_q}', '#{search_src}', #{isSaved})")
    include shared/ko-timeline
    div.page-header
      h3
        i.icon-search
        | &nbsp;#{title}

    div.text-right(style='display:none; padding-bottom: 10px;', ng-show='!isSaved')
      button.btn.btn-success(ng-click='saveList()') Save search

    div.text-right(style='display:none; padding-bottom: 10px;', ng-show='isSaved')
      button.btn.btn-danger(ng-click='deleteList()') Remove saved search

    p.lead(ng-show='hasNoPosts') No mentions found...
    include partials/posts-list

    // Loading progress indicator
    div.text-center(ng-show='isLoadingMorePosts')
      i.icon-spinner.icon-4x.icon-spin

    div.alert.alert-danger.page-error